{% extends 'base.html.twig' %}

{% block title %}Equipo index{% endblock %}

{% block body %}
    <h1>Equipo index</h1>
    <a href="{{ path('app_equipo_new') }}">Crear Equipo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Categoria</th>
                <th>Zona</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.id }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.torneoGeneroCategoria.genero.nombre }}</td>
                <td>{{ equipo.torneoGeneroCategoria.categoria.nombre }}</td>
                <td>{{ equipo.zonaEquipo ? equipo.zonaEquipo.zona.id : '-' }}</td>

                <td>
                    <a href="{{ path('app_equipo_show', {'id': equipo.id}) }}">Consultar</a>
                    <a href="{{ path('app_equipo_edit', {'id': equipo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
