{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">{% block title %}Nuevo Torneo{% endblock %}</h1>

    <form action="{{ path('app_torneo_nuevo') }}" method="POST">
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Torneo" required>
                    <label for="nombre">Nombre Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción Torneo">
                    <label for="descripcion">Descripción Torneo</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                    <label for="fechaInicio">Fecha Inicio Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                    <label for="horaInicio">Hora Inicio Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                    <label for="fechaFin">Fecha Fin Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="time" class="form-control" id="horaFin" name="horaFin" required>
                    <label for="horaFin">Hora Fin Torneo</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechaInicioInscripcion" name="fechaInicioInscripcion" required>
                    <label for="fechaInicioInscripcion">Fecha Inicio Inscripción Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="time" class="form-control" id="horaInicioInscripcion" name="horaInicioInscripcion" required>
                    <label for="horaInicioInscripcion">Hora Inicio Inscripción Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechaFinInscripcion" name="fechaFinInscripcion" required>
                    <label for="fechaFinInscripcion">Fecha Fin Inscripción Torneo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="time" class="form-control" id="horaFinInscripcion" name="horaFinInscripcion" required>
                    <label for="horaFinInscripcion">Hora Fin Inscripción Torneo</label>
                </div>
            </div>
        </div>
        <button id="btnAgregarGenCat" type="button" class="btn btn-primary">Agregar Categoria</button>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{{ path('app_torneo_index') }}"><button type="button" class="btn btn-danger">Volver</button></a>
    </form>
<script>

const btnAbtnAgregarGenCat = document.getElementById('btnAgregarGenCat')
let cantidad = 0;
btnAgregarGenCat.addEventListener('click', () => {
    //btnAbtnAgregarGenCat.setAttribute('disabled', 'disabled')
    divRow = document.createElement('div')
    divRow.classList.add('row', 'g-2', 'mb-3')
    divCol1 = document.createElement('div')
    divCol1.classList.add('col-md', 'form-floating')
    selectGenero = document.createElement('select')
    selectGenero.classList.add('form-select')
    selectGenero.id = 'floatingSelectGenero' + cantidad
    selectGenero.name = 'categorias[' + cantidad + '][genero]'
    selectGenero.setAttribute('aria-label', 'Floating label select example')
    option = document.createElement('option')
    option.value = ''
    selectGenero.appendChild(option)
    {% for genero in generos %}
        option = document.createElement('option')
        option.value = '{{ genero.id }}'
        option.textContent = '{{ genero.nombre }}'
        selectGenero.appendChild(option)
    {% endfor %}
    label = document.createElement('label')
    label.setAttribute('for', 'floatingSelectGenero' + cantidad)
    label.textContent = 'Seleccione Genero'
    divCol1.appendChild(selectGenero)
    divCol1.appendChild(label)
    divCol2 = document.createElement('div')
    divCol2.classList.add('col-md', 'form-floating')
    selectCategoria = document.createElement('select')
    selectCategoria.classList.add('form-select')
    selectCategoria.id = 'floatingSelectCategoria' + cantidad
    selectCategoria.name = 'categorias[' + cantidad + '][categoria]'
    selectCategoria.setAttribute('aria-label', 'Floating label select example')
    option = document.createElement('option')
    option.value = ''
    selectCategoria.appendChild(option)
    {% for categoria in categorias %}
        option = document.createElement('option')
        option.value = '{{ categoria.id }}'
        option.textContent = '{{ categoria.nombre }}'
        selectCategoria.appendChild(option)
    {% endfor %}
    label = document.createElement('label')
    label.setAttribute('for', 'floatingSelectCategoria' + cantidad)
    label.textContent = 'Seleccione Categoria'
    divCol2.appendChild(selectCategoria)
    divCol2.appendChild(label)
    divRow.appendChild(divCol1)
    divRow.appendChild(divCol2)
    document.querySelector('form').insertBefore(divRow, btnAgregarGenCat)
    cantidad++
})
</script>
{% endblock %}