{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
    <h1>Torneo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ torneo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ torneo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ torneo.descripcion }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ torneo.fechaInicio ? torneo.fechaInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ torneo.fechaFin ? torneo.fechaFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInicioInscripcion</th>
                <td>{{ torneo.fechaInicioInscripcion ? torneo.fechaInicioInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFinInscripcion</th>
                <td>{{ torneo.fechaFinInscripcion ? torneo.fechaFinInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_torneo_index') }}">Volver</a>

    <a href="{{ path('app_torneo_edit', {'id': torneo.id}) }}">Editar</a>

    {{ include('torneo/_delete_form.html.twig') }}

    {% for inscriptos in torneo.torneoGeneroCategorias %}
        {% if inscriptos.cerrado == 0  %}
        {{ inscriptos.genero.nombre }}
        {{ inscriptos.categoria.nombre }}
        Total de equipos anotados: 
        {{ inscriptos.equipos.count() }}
        <form id="formCantidadZona{{ inscriptos.id }}" action="{{ path('app_torneo_armar_zona', { 'id' : inscriptos.id }) }}" method="POST">
            <div>
            <label for="cantidadZona{{ inscriptos.id }}">Cantidad de zonas</label>
            <input type="number" name="cantidadZona{{ inscriptos.id }}" id="cantidadZona{{ inscriptos.id }}" value="1" min="1" max="{{ inscriptos.equipos.count() }}">
            <input type="button" name="confirmar{{ inscriptos.id }}" id="confirmar{{ inscriptos.id }}" value="Confirmar">
            <input type="button" class="d-none" name="limpiar{{ inscriptos.id }}" id="limpiar{{ inscriptos.id }}" value="Limpiar">
            <br>
            </div>
        </form>
        <script>
         let cantidadZona{{ inscriptos.id }} = document.getElementById("cantidadZona{{ inscriptos.id }}");
            confirmar{{ inscriptos.id }}.onclick = function(){
                cantidadZona{{ inscriptos.id }}.disabled = true;
                confirmar{{ inscriptos.id }}.disabled = true;
                document.getElementById("limpiar{{ inscriptos.id }}").classList.remove("d-none");
                const cantidad = cantidadZona{{ inscriptos.id }}.value
                for (let i = 0; i < cantidad; i++) {
                    div = document.createElement("div");
                    div.id = "divCantidadEquiposZona" + {{ inscriptos.id }} + i;
                    label = document.createElement("label");
                    label.id = "labelCantidadEquiposZona" + {{ inscriptos.id }} + i;
                    label.setAttribute("for", "inputCantidadEquiposZona" + {{ inscriptos.id }} + i);
                    label.innerHTML = "Cantidad de equipos en la zona " + (i + 1);
                    input = document.createElement("input");
                    input.type = "number";
                    input.name = "inputCantidadEquiposZona" + {{ inscriptos.id }} + i;
                    input.id = "inputCantidadEquiposZona" + {{ inscriptos.id }} + i;
                    input.min = "0";
                    if (({{ inscriptos.equipos.count() }} % cantidadZona{{ inscriptos.id }}.value) == 0)
                    {
                        input.value = input.max = Math.trunc({{ inscriptos.equipos.count() }} / cantidadZona{{ inscriptos.id }}.value);
                    }else{
                        input.value = input.max = Math.trunc(({{ inscriptos.equipos.count() }} / cantidadZona{{ inscriptos.id }}.value) + ({{ inscriptos.equipos.count() }} % cantidadZona{{ inscriptos.id }}.value) - 1);
                    }
                    input.placeholder = "Cantidad de equipos";

                    div.appendChild(label);
                    div.appendChild(input);
                    
                    labelOro = document.createElement("label");
                    labelOro.id = "labelOro" + {{ inscriptos.id }} + i;
                    labelOro.setAttribute("for", "inputOro" + {{ inscriptos.id }} + i);
                    labelOro.innerHTML = "Cantidad de equipos Oro";
                    inputOro = document.createElement("input");
                    inputOro.type = "number";
                    inputOro.name = "inputOro" + {{ inscriptos.id }} + i;
                    inputOro.id = "inputOro" + {{ inscriptos.id }} + i;
                    inputOro.min = "0";
                    inputOro.max = input.max;

                    div.appendChild(labelOro);
                    div.appendChild(inputOro);

                    labelPlata = document.createElement("label");
                    labelPlata.id = "labelPlata" + {{ inscriptos.id }} + i;
                    labelPlata.setAttribute("for", "inputPlata" + {{ inscriptos.id }} + i);
                    labelPlata.innerHTML = "Cantidad de equipos Plata";
                    inputPlata = document.createElement("input");
                    inputPlata.type = "number";
                    inputPlata.name = "inputPlata" + {{ inscriptos.id }} + i;
                    inputPlata.id = "inputPlata" + {{ inscriptos.id }} + i;
                    inputPlata.min = "0";
                    inputPlata.max = input.max;

                    div.appendChild(labelPlata);
                    div.appendChild(inputPlata);

                    labelBronce = document.createElement("label");
                    labelBronce.id = "labelBronce" + {{ inscriptos.id }} + i;
                    labelBronce.setAttribute("for", "inputBronce" + {{ inscriptos.id }} + i);
                    labelBronce.innerHTML = "Cantidad de equipos Bronce";
                    inputBronce = document.createElement("input");
                    inputBronce.type = "number";
                    inputBronce.name = "inputBronce" + {{ inscriptos.id }} + i;
                    inputBronce.id = "inputBronce" + {{ inscriptos.id }} + i;
                    inputBronce.min = "0";
                    inputBronce.max = input.max;

                    div.appendChild(labelBronce);
                    div.appendChild(inputBronce);

                    inputCantidad = document.createElement("input");
                    inputCantidad.type = "hidden";
                    inputCantidad.name = "inputCantidad";
                    inputCantidad.value = cantidad;

                    div.appendChild(inputCantidad);
                    
                    document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(div);
                    
                }
                
                let botonConfirmar = document.createElement("input");
                botonConfirmar.type = "button";
                botonConfirmar.name = "confirmarCantidadEquiposZona{{ inscriptos.id }}";
                botonConfirmar.id = "confirmarCantidadEquiposZona{{ inscriptos.id }}";
                botonConfirmar.value = "Enviar";
                document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(botonConfirmar);

                document.getElementById("confirmarCantidadEquiposZona{{ inscriptos.id }}").onclick = function(){
                    cantidadzonas = document.getElementById("cantidadZona{{ inscriptos.id }}").value;
                    cantidadEquiposZona = [];
                    suma = 0
                    mensaje = "Se va armar " + cantidadzonas + " zonas de "
                    for (let i = 0; i < cantidadzonas; i++) {
                        cantidadEquiposZona[i] = parseInt(document.getElementById("inputCantidadEquiposZona" + {{ inscriptos.id }} + i).value)
                        suma += cantidadEquiposZona[i];
                        if (i == cantidadzonas - 1){
                            mensaje += cantidadEquiposZona[i] + " equipos.";
                        }else{
                            mensaje += cantidadEquiposZona[i] + " equipos, ";
                        }
                    }
                    mensaje += " Del TorneoGeneroCategoria " + {{ inscriptos.id }} + ".";
                    if (suma == {{ inscriptos.equipos.count() }}){
                        alert(mensaje);
                        document.getElementById("formCantidadZona{{ inscriptos.id }}").submit();
                    }else{
                        alert("La suma de los equipos no coincide con la cantidad de equipos inscriptos");
                    }
                }
            }

            document.getElementById("limpiar{{ inscriptos.id }}").onclick = function(){
                cantidadZona{{ inscriptos.id }}.disabled = false;
                confirmar{{ inscriptos.id }}.disabled = false;
                document.getElementById("limpiar{{ inscriptos.id }}").classList.add("d-none");
                for (let i = 0; i < cantidadZona{{ inscriptos.id }}.value; i++) {
                    document.getElementById("labelCantidadEquiposZona" + {{ inscriptos.id }} + i).remove();
                    document.getElementById("inputCantidadEquiposZona" + {{ inscriptos.id }} + i).remove();

                    document.getElementById("labelOro" + {{ inscriptos.id }} + i).remove();
                    document.getElementById("inputOro" + {{ inscriptos.id }} + i).remove();

                    document.getElementById("labelPlata" + {{ inscriptos.id }} + i).remove();
                    document.getElementById("inputPlata" + {{ inscriptos.id }} + i).remove();

                    document.getElementById("labelBronce" + {{ inscriptos.id }} + i).remove();
                    document.getElementById("inputBronce" + {{ inscriptos.id }} + i).remove();
                }
                document.getElementById("confirmarCantidadEquiposZona{{ inscriptos.id }}").remove();
                document.getElementById("cantidadZona{{ inscriptos.id }}").value = 1;
            }
    </script>
    
    {% else %}
    <div>
    {{ inscriptos.genero.nombre }}
    {{ inscriptos.categoria.nombre }}
    Total de equipos anotados: 
    {{ inscriptos.equipos.count() }}
    <div>
    {% if inscriptos.cerrado == 1 and inscriptos.creado == 0  %}
    <form id="formArmarPartidos{{inscriptos.id}}" action="{{ path('app_torneo_armar_fixture', { 'id' : inscriptos.id }) }}" method="POST">
        Armar los partidos:
        <input id="armarPartido{{inscriptos.id}}"  type="button" value="Armar"></input>
    </form>
    
    <script>
        document.getElementById('armarPartido{{inscriptos.id}}').onclick = function(){
            alert("Se van a armar los partidos de {{ inscriptos.genero.nombre }} {{ inscriptos.categoria.nombre }}");
            document.getElementById('formArmarPartidos{{inscriptos.id}}').submit();
        }
    </script>
    {% endif %}
    </div>
    </div>
    {% endif %}
    <br>
    {% endfor %}
{% endblock %}

