<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main') }}">Torneos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_main') }}">Inicio</a>
                </li>
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_torneo_index') }}">Torneo</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_genero_index') }}">Genero</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_categoria_index') }}">Categoria</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_torneo_genero_categoria_index') }}">Configurar Genero - Categoria</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_club_index') }}">Club</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_cancha_index') }}">Cancha</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" aria-current="page" href="{{ path('app_equipo_index') }}">Equipos</a></li>
                 <li><a class="nav-link" aria-current="page" href="{{ path('app_partido_index') }}">Partidos</a></li>
                
                {% endif %}
            </ul>
            <ul class="navbar-nav justify-content-end">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">Registrar</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>