{% extends 'base.html.twig' %}

{% block title %}Registrar{% endblock %}

{% block body %}
    <h1>Registrar</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Usuario'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Constraseña'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Registrar</button>
    {{ form_end(registrationForm) }}
{% endblock %}
