{% extends 'base.html.twig' %}

{% block title %}PlayOff{% endblock %}

{% block body %}
    <h1>PlayOff</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_off.id }}</td>
            </tr>
            <tr>
                <th>Oro</th>
                <td>{{ play_off.oro ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Plata</th>
                <td>{{ play_off.plata ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Bronce</th>
                <td>{{ play_off.bronce ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_play_off_index') }}">back to list</a>

    <a href="{{ path('app_play_off_edit', {'id': play_off.id}) }}">edit</a>

    {{ include('play_off/_delete_form.html.twig') }}
{% endblock %}
