{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
    <form id="formTorneoGenCat" action="{{ path('app_main')}}" method="POST" >
        <div class="row">
            <div class="col-5 form-floating mb-1 d-none">
                <select class="form-select " id="selectTorneo" name="selectTorneo" aria-label="Floating label select example">
                    <option value="1">Por favor, seleccionar torneo</option>
                    {% for torneo in torneos %}
                        <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="selectTorneo">Torneos:</label>
            </div>
            <div class="col-6 form-floating mb-1 mt-1">
                <select class="form-select" id="selectGenero" name="selectGenero" aria-label="Floating label select example">
                    <option value="">Seleccionar genero</option>
                    {% for genero in generos %}
                        {% if genero.id == generoID %}
                            <option value="{{ genero.id }}" selected>{{ genero.nombre }}</option>
                        {% else %}
                            <option value="{{ genero.id }}">{{ genero.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="selectGenero">Generos:</label>
            </div>
            <div class="col-6 form-floating mb-1 mt-1">
                <select class="form-select" id="selectCategoria" name="selectCategoria" aria-label="Floating label select example">
                    <option value="">Seleccionar categoría</option>
                    {% for tgc in tgcs %}
                        {% if tgc.genero.id == generoID and tgc.categoria.id == categoriaID %}
                            <option value="{{ tgc.categoria.id }}" selected>{{ tgc.categoria.nombre }}</option>
                        {% endif %}
                        {% if tgc.genero.id == generoID and tgc.categoria.id != categoriaID %}
                            <option value="{{ tgc.categoria.id }}">{{ tgc.categoria.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="selectCategoria">Categorias:</label>
            </div>
        </div>
    </form>
    {% for key, categorias in zonas %}
        <h2 class="text-center">{{ key }}</h2>
        {% for key, equipos in categorias %}
        <div class="accordion mb-2" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{key}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{key}}" aria-expanded="false" aria-controls="collapse{{key}}">
                        <h3>Zona {{ key }}</h3>
                    </button>
                </h2>
                <div id="collapse{{key}}" class="accordion-collapse collapse" aria-labelledby="heading{{key}}" data-bs-parent="#accordion">
                    <div class="accordion-body table-responsive">
                        <h2>Tabla de posiciones</h2>
                        <div class="table-responsive">
                            <table class="table table-responsive align-middle text-center" style="border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                                        <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                                        <th scope="col" class="table-active"></th>
                                        <th scope="col" class="table-active">Partidos</th>
                                        <th scope="col" class="table-active"></th>
                                        <th scope="col"></th>
                                        <th scope="col">Set</th>
                                        <th scope="col"></th>
                                        <th scope="col" class="table-active"></th>
                                        <th scope="col" class="table-active">Puntos</th>
                                        <th scope="col" class="table-active"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Pos</th>
                                        <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Equipo</th>
                                        <th scope="col" class="table-active">Jug</th>
                                        <th scope="col" class="table-active">Gan</th>
                                        <th scope="col" class="table-active">Per</th>
                                        <th scope="col">Favor</th>
                                        <th scope="col">Contra</th>
                                        <th scope="col">Dif</th>
                                        <th scope="col" class="table-active">Fav</th>
                                        <th scope="col" class="table-active">Con</th>
                                        <th scope="col" class="table-active">Dif</th>
                                        <th scope="col">Ptos</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    {% for i, posicion in posiciones[key] %}
                                    <tr>
                                        <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="row">{{ i+1 }}</th>
                                        <td style="position: -webkit-sticky; position: sticky; left: 0px; background: white;">{{ posicion.nombre }}</td>
                                        <td class="table-active">{{ posicion.partidosJugados }}</td>
                                        <td class="table-active">{{ posicion.partidosGanados }}</td>
                                        <td class="table-active">{{ posicion.partidosPerdidos }}</td>
                                        <td>{{ posicion.setsAFavor }}</td>
                                        <td>{{ posicion.setsEnContra }}</td>
                                        <td>{{ posicion.getDiferenciaSets }}</td>
                                        <td class="table-active">{{ posicion.puntosAFavor }}</td>
                                        <td class="table-active">{{ posicion.puntosEnContra }}</td>
                                        <td class="table-active">{{ posicion.getDiferenciaPuntos }}</td>
                                        <td>{{ posicion.puntos }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <h2>Partidos</h2>
                    {% for partido in partidos %}
                        {% if partido.zona != null and partido.zona.id == key  %}
                        <div class="card w-100" style="margin-top: 3px; background-color: #f8f9fa;">
                            <div class="card-body">
                                {% if app.user %}
                                    {% if partido.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': partido.id}) }}"><h5 class="card-title">Partido N° {{ partido.id }}</h5></a>
                                    {% else %}
                                        <h5 class="card-title">Partido N° {{ partido.id }}</h5>
                                    {% endif %}
                                {% else %}
                                    <h5 class="card-title">Partido N° {{ partido.id }}</h5>
                                {% endif %}
                                <div class="d-flex justify-content-start">
                                    <h6 class="card-subtitle mb-2 text-muted">Club y Cancha: {{ partido.cancha ? partido.cancha.club.nombre }} {{  partido.cancha ? partido.cancha.nombre : "Sin asignar  / "}} Fecha y hora: {{ partido.horario ? partido.horario|date("d/m/Y H:i") : "Sin asignar" }} </h6>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Equipo</th>
                                                <th scope="col">Set 1</th>
                                                <th scope="col">Set 2</th>
                                                <th scope="col">Set 3</th>
                                                <th scope="col">Set 4</th>
                                                <th scope="col">Set 5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">{{ partido.equipoLocal.nombre }}</th>
                                                <td>{% if partido.localSet1 %} {{ partido.localSet1 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.localSet2 %} {{ partido.localSet2 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.localSet3 %} {{ partido.localSet3 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.localSet4 %} {{ partido.localSet4 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.localSet5 %} {{ partido.localSet5 }} {% else %} - {% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">{{ partido.equipoVisitante.nombre }}</th>
                                                <td>{% if partido.visitanteSet1 %} {{ partido.visitanteSet1 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.visitanteSet2 %} {{ partido.visitanteSet2 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.visitanteSet3 %} {{ partido.visitanteSet3 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.visitanteSet4 %} {{ partido.visitanteSet4 }} {% else %} - {% endif %}</td>
                                                <td>{% if partido.visitanteSet5 %} {{ partido.visitanteSet5 }} {% else %} - {% endif %}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    {% if playOffs|length > 0 %}
    {% for playOff in playOffs %}
        {% if playOff.genero == generoID and playOff.categoria == categoriaID %}
<!-- ORO -->
            {% if playOff.oro %}
                <h2 class="text-center"> Play Offs - Oro </h2>
<!-- ORO - Cuartos -->
                {% if playOff.cuartos != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Cuartos de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido1.id}) }}"><div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido2.id}) }}"><div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido3.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido3.id}) }}"><div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido4.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido4.id}) }}"><div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.semis == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Semis de Final 1</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                <div> Semis de Final 2</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 3</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 4</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
<!-- ORO - Semis -->
                {% if playOff.semis != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido1.id}) }}"><div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido2.id}) }}"><div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.final == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div>Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
<!-- ORO - Final -->
                {% if playOff.final != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.final.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.final.partido1.id}) }}"><div> Final - Partido N° {{ playOff.final.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.final.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.final.partido1.localSet1 ?? 0 }}
                                        {{ playOff.final.partido1.localSet2 ?? 0 }}
                                        {{ playOff.final.partido1.localSet3 ?? 0 }}
                                        {{ playOff.final.partido1.localSet4 ?? 0 }}
                                        {{ playOff.final.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.final.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.final.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.final.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.final.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.final.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.final.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
<!-- PLATA -->
            {% if playOff.plata %}
                <h2 class="text-center"> Play Offs - Plata </h2>
<!-- PLATA - Cuartos-->
                {% if playOff.cuartos != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Cuartos de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido1.id}) }}"><div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido2.id}) }}"><div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido3.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido3.id}) }}"><div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido4.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido4.id}) }}"><div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.semis == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Semis de Final 1</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                <div> Semis de Final 2</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 3</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 4</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}

<!-- PLATA - Semis -->
                {% if playOff.semis != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido1.id}) }}"><div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido2.id}) }}"><div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.final == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}

<!-- PLATA - Final -->
                {% if playOff.final != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.final.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.final.partido1.id}) }}"><div> Final - Partido N° {{ playOff.final.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.final.partido.equipoLocal.nombre }}</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.final.partido.equipoVisitante.nombre }}</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
<!-- BRONCE -->
            {% if playOff.bronce %}
                <h2 class="text-center"> Play Offs - Bronce </h2>
<!-- BRONCE - Cuartos -->
                {% if playOff.cuartos != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Cuartos de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido1.id}) }}"><div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 1 - Partido N° {{ playOff.cuartos.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido2.id}) }}"><div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 2 - Partido N° {{ playOff.cuartos.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido3.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido3.id}) }}"><div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 3 - Partido N° {{ playOff.cuartos.partido3.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido3.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido3.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido3.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.cuartos.partido4.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.cuartos.partido4.id}) }}"><div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div></a>
                                    {% else %}
                                        <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Cuartos de Final 4 - Partido N° {{ playOff.cuartos.partido4.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.localSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.cuartos.partido4.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.cuartos.partido4.visitanteSet1 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet2 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet3 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet4 ?? 0 }}
                                        {{ playOff.cuartos.partido4.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.semis == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Semis de Final 1</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                <div> Semis de Final 2</div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 3</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Cuartos de Final 4</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
<!-- BRONCE - Semis -->
                {% if playOff.semis != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Semis de Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido1.id}) }}"><div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 1 - Partido N° {{ playOff.semis.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido1.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido1.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido1.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.semis.partido2.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.semis.partido2.id}) }}"><div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div></a>
                                    {% else %}
                                        <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Semis de Final 2 - Partido N° {{ playOff.semis.partido2.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoLocal.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.localSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.localSet5 ?? 0 }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.semis.partido2.equipoVisitante.nombre }}</div>
                                    <div>
                                        {{ playOff.semis.partido2.visitanteSet1 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet2 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet3 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet4 ?? 0 }}
                                        {{ playOff.semis.partido2.visitanteSet5 ?? 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if playOff.final == null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                <div> Final</div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 1</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>Ganador de Semi de Final 2</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
<!-- BRONCE - Final -->
                {% if playOff.final != null %}
                    <div class="card mb-2">
                        <h5 class="card-header text-center">Final</h5>
                        <div class="container text-center">
                            <div class="row border"> 
                                {% if app.user %}
                                    {% if playOff.final.partido1.localSet1 == null %}
                                        <a href="{{ path('app_partido_editar', {'id': playOff.final.partido1.id}) }}"><div> Final - Partido N° {{ playOff.final.partido1.id }}</div></a>
                                    {% else %}
                                        <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                    {% endif %}
                                {% else %}
                                    <div> Final - Partido N° {{ playOff.final.partido1.id }}</div>
                                {% endif %}
                                <div class="col-5">
                                    <div>{{ playOff.final.partido.equipoLocal.nombre }}</div>
                                    <div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    vs
                                </div>
                                <div class="col-5">
                                    <div>{{ playOff.final.partido.equipoVisitante.nombre }}</div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}

<script>
    const selectTorneo = document.getElementById('selectTorneo');
    const selectGenero = document.getElementById('selectGenero');
    const selectCategoria = document.getElementById('selectCategoria');

    selectTorneo.addEventListener('change', (event) => {
        let generos = [];
        const torneoID = event.target.value;
        //console.log(torneoID);
        {% for tgc in tgcs %}
            if ({{ tgc.torneo.id }} == torneoID) {
                if ( !generos.find(genero => genero.id == {{ tgc.genero.id }}) ){
                    generos.push({id: {{ tgc.genero.id }}, nombre: `{{ tgc.genero.nombre }}`});
                    //console.log( {{ tgc.genero.id }}, `{{ tgc.genero.nombre }}` );
                }
            }
        {% endfor %}
        
        selectGenero.innerHTML = '<option value="">Seleccionar genero</option>';
        selectCategoria.innerHTML = '<option value="">Seleccionar categoría</option>';
        generos.forEach(genero => {
            const option = document.createElement('option');
            option.value = genero.id;
            option.text = genero.nombre;
            selectGenero.appendChild(option);
        });
    });

    selectGenero.addEventListener('change', (event) => {
        let categorias = [];
        const generoID = event.target.value;
        //console.log(generoID);
        {% for tgc in tgcs %}
            if ({{ tgc.genero.id }} == generoID) {
                if ( !categorias.find(categoria => categoria.id == {{ tgc.categoria.id }}) ){
                    categorias.push({id: {{ tgc.categoria.id }}, nombre: `{{ tgc.categoria.nombre }}`});
                    //console.log( {{ tgc.categoria.id }}, `{{ tgc.categoria.nombre }}` );
                }
            }
        {% endfor %}
        selectCategoria.disabled = false;
        selectCategoria.innerHTML = '<option value="">Seleccionar categoría</option>';
        categorias.forEach(categoria => {
            const option = document.createElement('option');
            option.value = categoria.id;
            option.text = categoria.nombre;
            selectCategoria.appendChild(option);
        });
    });

    selectCategoria.addEventListener('change', (event) => {
        document.getElementById('formTorneoGenCat').submit();
    });
</script>
{% endblock %}
