{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
    {% if torneo  %}
    <h1>{{ torneo.nombre }}! ✅</h1>
    {% if torneo.torneoGeneroCategorias.count() > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Genero</th>
                <th>Categoria</th>
                <th>Cantidad de equipos</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in torneo.torneoGeneroCategorias %}
            <tr>
                <td>{{ categoria.genero.nombre }}</td>
                <td>{{ categoria.categoria.nombre }}</td>
                <td>{{ categoria.equipos.count() }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay configuracion de genero y categoria</h2>
    {% endif %}
    {% else %}
    <h1>No existe torneo</h1>
    {% endif %}
    {% for key, categorias in zonas %}
        <h1 class="text-center"> {{ key }}</h1>
        {% for key, equipos in categorias %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <a href="{{ path('app_zona_show', {'id': key}) }}"><h4>Zona {{ key }}</h4></a>
                        </div>
                            <ul class="list-group list-group-flush">
                                {% for equipo in equipos %}
                                    <li class="list-group-item">{{ equipo.nombre }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    </br>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}


{% endblock %}
