{% extends 'base.html.twig' %}

{% block title %}Configurar Genero Categoria{% endblock %}

{% block body %}
    <h1>Configurar Genero: {{ torneo_genero_categorium.genero.nombre }} - Categoria: {{ torneo_genero_categorium.categoria.nombre }}</h1>
    {% for key, zona in zonas %}
    
        <h2 class="text-center">Tabla de posiciones - Zona {{ key }} {{ zonasNombre[(key-1)].nombre }}</h2>
            <div class="table-responsive">
                <table class="table table-responsive align-middle text-center" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                            <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                            <th scope="col" class="table-active"></th>
                            <th scope="col" class="table-active">Partidos</th>
                            <th scope="col" class="table-active"></th>
                            <th scope="col"></th>
                            <th scope="col">Set</th>
                            <th scope="col"></th>
                            <th scope="col" class="table-active"></th>
                            <th scope="col" class="table-active">Puntos</th>
                            <th scope="col" class="table-active"></th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Pos</th>
                            <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Equipo</th>
                            <th scope="col" class="table-active">Jug</th>
                            <th scope="col" class="table-active">Gan</th>
                            <th scope="col" class="table-active">Per</th>
                            <th scope="col">Favor</th>
                            <th scope="col">Contra</th>
                            <th scope="col">Dif</th>
                            <th scope="col" class="table-active">Fav</th>
                            <th scope="col" class="table-active">Con</th>
                            <th scope="col" class="table-active">Dif</th>
                            <th scope="col">Ptos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, equipo in zona %}
                            <tr>
                                <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="row">{{ i+1 }}</th>
                                <td style="position: -webkit-sticky; position: sticky; left: 0px; background: white;">{{ equipo.nombre }}</td>
                                <td class="table-active">{{ equipo.partidosJugados }}</td>
                                <td class="table-active">{{ equipo.partidosGanados }}</td>
                                <td class="table-active">{{ equipo.partidosPerdidos }}</td>
                                <td>{{ equipo.setsAFavor }}</td>
                                <td>{{ equipo.setsEnContra }}</td>
                                <td>{{ equipo.getDiferenciaSets }}</td>
                                <td class="table-active">{{ equipo.puntosAFavor }}</td>
                                <td class="table-active">{{ equipo.puntosEnContra }}</td>
                                <td class="table-active">{{ equipo.getDiferenciaPuntos }}</td>
                                <td>{{ equipo.puntos }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endfor %}
    {% set oroCuartos = false %}
    {% set plataCuartos = false %}
    {% set bronceCuartos  = false %}

    {% set oroSemis = false %}
    {% set plataSemis = false %}
    {% set bronceSemis  = false %}

    {% set oroFin = false %}
    {% set plataFin = false %}
    {% set bronceFin  = false %}

    {% for playOff in torneo_genero_categorium.playOffs %}
        {% if playOff.cuartos %}
            {% if playOff.oro %}
                {% set oroCuartos = true %}
            {% endif %}
            {% if playOff.plata %}
                {% set plataCuartos = true %}
            {% endif %}
            {% if playOff.bronce %}
                {% set bronceCuartos = true %}
            {% endif %}
        {% endif %}
        {% if playOff.semis %}
            {% if playOff.oro %}
                {% set oroCuartos = true %}
                {% set oroSemis = true %}
            {% endif %}
            {% if playOff.plata %}
                {% set plataCuartos = true %}
                {% set plataSemis = true %}
            {% endif %}
            {% if playOff.bronce %}
                {% set bronceCuartos = true %}
                {% set bronceSemis = true %}
            {% endif %}
        {% endif %}
        {% if playOff.fin %}
            {% if playOff.oro %}
                {% set oroCuartos = true %}
                {% set oroSemis = true %}
                {% set oroFin = true %}
            {% endif %}
            {% if playOff.plata %}
                {% set plataCuartos = true %}
                {% set plataSemis = true %}
                {% set plataFin = true %}
            {% endif %}
            {% if playOff.bronce %}
                {% set bronceCuartos = true %}
                {% set bronceSemis = true %}
                {% set bronceFin = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
    
    <div class="row">
        <div class="col-ms-4">
            <div>ORO</div>
            <button type="button" id="btnCuartosOro" class="btn btn-primary" {% if oroCuartos %} disabled {% endif %} >Armar Cuartos</button>
            <button type="button" id="btnSemisOro" class="btn btn-primary" {% if oroSemis %} disabled {% endif %}>Armar Semis</button>
            <button type="button" id="btnFinalOro" class="btn btn-primary" {% if oroFin %} disabled {% endif %}>Armar Final</button>
        </div>
        <div class="col-ms-4">
            <div>PLATA</div>
            <button type="button" id="btnCuartosPlata" class="btn btn-primary" {% if plataCuartos %} disabled {% endif %}>Armar Cuartos</button>
            <button type="button" id="btnSemisPlata" class="btn btn-primary" {% if plataSemis %} disabled {% endif %}>Armar Semis</button>
            <button type="button" id="btnFinalPlata" class="btn btn-primary" {% if plataFin %} disabled {% endif %}>Armar Final</button>
        </div>
        <div class="col-ms-4">
            <div>BRONCE</div>
            <button type="button" id="btnCuartosBronce" class="btn btn-primary" {% if bronceCuartos %} disabled {% endif %}>Armar Cuartos</button>
            <button type="button" id="btnSemisBronce" class="btn btn-primary" {% if bronceSemis %} disabled {% endif %}>Armar Semis</button>
            <button type="button" id="btnFinalBronce" class="btn btn-primary" {% if bronceFin %} disabled {% endif %}>Armar Final</button>
        </div>
    </div>
    <form id="formCuartos" class="d-none needs-validation" novalidate action="{{ path('app_torneo_genero_categoria_playoff_crear', {'id': torneo_genero_categorium.id}) }}" method="POST">
        <h2 id="formTituloCuartos">Cuartos</h2>
        <input type="hidden" name="inputTorneoGeneroCategoria" value="{{ torneo_genero_categorium.id }}">
        <input type="hidden" id="inputCopaCuartos" name="inputCopaCuartos" value="">
        <div class="row">
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 1
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido1Equipo1" name="cuartosPartido1Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido1Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido1Equipo2" name="cuartosPartido1Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido1Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 2
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido2Equipo1" name="cuartosPartido2Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido2Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido2Equipo2" name="cuartosPartido2Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido2Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 3
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido3Equipo1" name="cuartosPartido3Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido3Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido3Equipo2" name="cuartosPartido3Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido3Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 4
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido4Equipo1" name="cuartosPartido4Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido4Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="cuartosPartido4Equipo2" name="cuartosPartido4Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="cuartosPartido4Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
    <form id="formSemis" class="d-none needs-validation" novalidate action="{{ path('app_torneo_genero_categoria_playoff_crear', {'id': torneo_genero_categorium.id}) }}" method="POST">
        <h2 id="formTituloSemis">Semis</h2>
        <input type="hidden" name="inputTorneoGeneroCategoria" value="{{ torneo_genero_categorium.id }}">
        <input type="hidden" id="inputCopaSemis" name="inputCopaSemis" value="">
        <div class="row">
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 1
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="semisPartido1Equipo1" name="semisPartido1Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="semisPartido1Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="semisPartido1Equipo2" name="semisPartido1Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="semisPartido1Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ms-6">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 2
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="semisPartido2Equipo1" name="semisPartido2Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="semisPartido2Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="semisPartido2Equipo2" name="semisPartido2Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="semisPartido2Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
    <form id="formFinal" class="d-none needs-validation" novalidate action="{{ path('app_torneo_genero_categoria_playoff_crear', {'id': torneo_genero_categorium.id}) }}" method="POST">
        <h2 id="formTituloFinal">Final</h2>
        <input type="hidden" name="inputTorneoGeneroCategoria" value="{{ torneo_genero_categorium.id }}">
        <input type="hidden" id="inputCopaFinal" name="inputCopaFinal" value="">
        <div class="row">
            <div class="col">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        Partido 1
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="finalPartido1Equipo1" name="finalPartido1Equipo1" required>
                                        <option value="">Seleccionar Equipo 1</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="finalPartido1Equipo1">Equipo 1</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    <select class="form-select" id="finalPartido1Equipo2" name="finalPartido1Equipo2" required>
                                        <option value="">Seleccionar Equipo 2</option>
                                        {% for key, zona in zonas %}
                                            <optgroup label="Zona {{ key }}">
                                            {% for i, equipo in zona %}
                                                <option value={{ equipo.id }}>{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, debe seleccionar un equipo.
                                    </div>
                                    <label for="finalPartido1Equipo2">Equipo 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
    <div class="mt-2">
        <a class="btn btn-outline-primary" href="{{ path('app_torneo_genero_categoria_index') }}">Volver</a>
    </div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
    document.getElementById('btnCuartosOro').addEventListener('click', function() {
        document.getElementById('formCuartos').classList.remove('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloCuartos').innerText = 'Cuartos de Final Oro';
        document.getElementById('inputCopaCuartos').value = 'cuartos oro';
        
    });
    document.getElementById('btnSemisOro').addEventListener('click', function() {
        document.getElementById('formSemis').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloSemis').innerText = 'Semis de Finales Oro';
        document.getElementById('inputCopaSemis').value = 'semis oro';
        
    });
    document.getElementById('btnFinalOro').addEventListener('click', function() {
        document.getElementById('formFinal').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formTituloFinal').innerText = 'Final Oro';
        document.getElementById('inputCopaFinal').value = 'final oro';
        
    });
    document.getElementById('btnCuartosPlata').addEventListener('click', function() {
        document.getElementById('formCuartos').classList.remove('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloCuartos').innerText = 'Cuartos de Final Plata';
        document.getElementById('inputCopaCuartos').value = 'cuartos plata';
    });
    document.getElementById('btnSemisPlata').addEventListener('click', function() {
        document.getElementById('formSemis').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloSemis').innerText = 'Semis de Finales Plata';
        document.getElementById('inputCopaSemis').value = 'semis plata';
    });
    document.getElementById('btnFinalPlata').addEventListener('click', function() {
        document.getElementById('formFinal').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formTituloFinal').innerText = 'Final Plata';
        document.getElementById('inputCopaFinal').value = 'final plata';
    });
    document.getElementById('btnCuartosBronce').addEventListener('click', function() {
        document.getElementById('formCuartos').classList.remove('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloCuartos').innerText = 'Cuartos de Final Bronce';
        document.getElementById('inputCopaCuartos').value = 'cuartos bronce';
    });
    document.getElementById('btnSemisBronce').addEventListener('click', function() {
        document.getElementById('formSemis').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formFinal').classList.add('d-none');
        document.getElementById('formTituloSemis').innerText = 'Semis de Finales Bronce';
        document.getElementById('inputCopaSemis').value = 'semis bronce';
    });
    document.getElementById('btnFinalBronce').addEventListener('click', function() {
        document.getElementById('formFinal').classList.remove('d-none');
        document.getElementById('formCuartos').classList.add('d-none');
        document.getElementById('formSemis').classList.add('d-none');
        document.getElementById('formTituloFinal').innerText = 'Final Bronce';
        document.getElementById('inputCopaFinal').value = 'final bronce';
    });
</script>
{% endblock %}
