{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <h1>Categoria index</h1>
    <a href="{{ path('app_categoria_new') }}">Crear Categoria</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.nombre }}</td>
                <td>{{ categorium.descripcion }}</td>
               {#  <td>{{ categorium.createdAt ? categorium.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categorium.updatedAt ? categorium.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_categoria_show', {'id': categorium.id}) }}">Consultar</a>
                    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
