{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
    <h1>Torneo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ torneo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ torneo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ torneo.descripcion }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ torneo.fechaInicio ? torneo.fechaInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ torneo.fechaFin ? torneo.fechaFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInicioInscripcion</th>
                <td>{{ torneo.fechaInicioInscripcion ? torneo.fechaInicioInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFinInscripcion</th>
                <td>{{ torneo.fechaFinInscripcion ? torneo.fechaFinInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_torneo_index') }}">back to list</a>

    <a href="{{ path('app_torneo_edit', {'id': torneo.id}) }}">edit</a>

    {{ include('torneo/_delete_form.html.twig') }}
{% endblock %}
