{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
    <h1>Torneo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ torneo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ torneo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ torneo.descripcion }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ torneo.fechaInicio ? torneo.fechaInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ torneo.fechaFin ? torneo.fechaFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInicioInscripcion</th>
                <td>{{ torneo.fechaInicioInscripcion ? torneo.fechaInicioInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFinInscripcion</th>
                <td>{{ torneo.fechaFinInscripcion ? torneo.fechaFinInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_torneo_index') }}">back to list</a>

    <a href="{{ path('app_torneo_edit', {'id': torneo.id}) }}">edit</a>

    {{ include('torneo/_delete_form.html.twig') }}
    {% for inscriptos in torneo.torneoGeneroCategorias %}
        {{ inscriptos.genero.nombre }}
        {{ inscriptos.categoria.nombre }}
        Total de equipos anotados: 
        {{ inscriptos.equipos.count() }}
        <form id="formCantidadZona{{ inscriptos.id }}">
            <label for="cantidadZona{{ inscriptos.id }}">Cantidad de zonas</label>
            <input type="number" name="cantidadZona{{ inscriptos.id }}" id="cantidadZona{{ inscriptos.id }}" value="1" min="1" max="{{ inscriptos.equipos.count() }}">
            <input type="button" name="confirmar{{ inscriptos.id }}" id="confirmar{{ inscriptos.id }}" value="Confirmar">
            <br>
        </form>
        <script>
            let cantidadZona{{ inscriptos.id }} = document.getElementById("cantidadZona{{ inscriptos.id }}");
            confirmar{{ inscriptos.id }}.onclick = function(){
                cantidadZona{{ inscriptos.id }}.disabled = true;
                confirmar{{ inscriptos.id }}.disabled = true;

                for (let i = 0; i < cantidadZona{{ inscriptos.id }}.value; i++) {
                    label = document.createElement("label");
                    label.setAttribute("for", "cantidadEquiposZona" + {{ inscriptos.id }} + i);
                    label.innerHTML = "Cantidad de equipos en la zona " + (i + 1);
                    input = document.createElement("input");
                    input.type = "number";
                    input.name = "cantidadEquiposZona" + {{ inscriptos.id }} + i;
                    input.id = "cantidadEquiposZona" + {{ inscriptos.id }} + i;
                    input.min = "0";
                    if (({{ inscriptos.equipos.count() }} % cantidadZona{{ inscriptos.id }}.value) == 0)
                    {
                        input.max = ({{ inscriptos.equipos.count() }} / cantidadZona{{ inscriptos.id }}.value);
                    }else{
                        input.max = ({{ inscriptos.equipos.count() }} / cantidadZona{{ inscriptos.id }}.value) + ({{ inscriptos.equipos.count() }} % cantidadZona{{ inscriptos.id }}.value) - 1;
                    }
                    input.placeholder = "Cantidad de equipos";
                    document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(label);
                    document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(input);
                    document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(document.createElement("br"));
                }
                let botonConfirmar = document.createElement("input");
                botonConfirmar.type = "button";
                botonConfirmar.name = "confirmarCantidadEquiposZona{{ inscriptos.id }}";
                botonConfirmar.id = "confirmarCantidadEquiposZona{{ inscriptos.id }}";
                botonConfirmar.value = "Enviar";
                document.getElementById("formCantidadZona{{ inscriptos.id }}").appendChild(botonConfirmar);
            }
        </script>
        <br>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        //console.log(total);
    </script>
{% endblock %}
