{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% if torneo  %}
    <h1>{{ torneo.nombre }}! ✅</h1>
    {% if torneo.torneoGeneroCategorias.count() > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Genero</th>
                <th>Categoria</th>
                <th>Cantidad de equipos</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in torneo.torneoGeneroCategorias %}
            <tr>
                <td>{{ categoria.genero.nombre }}</td>
                <td>{{ categoria.categoria.nombre }}</td>
                <td>{{ categoria.equipos.count() }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay configuracion de genero y categoria</h2>
    {% endif %}
    {% else %}
    <h1>No existe torneo</h1>
    {% endif %}

    {% for key, zonasind in zonas %}
    <div class="card text-center">
        <div class="card-header">
            <h4>Zona {{ key }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for zona in zonasind %}
                    <li class="list-group-item">{{ zona.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </br>
    {% endfor %}


{% endblock %}
