{% extends 'base.html.twig' %}

{% block title %}TorneoGeneroCategoria index{% endblock %}

{% block body %}
    <h1>{{ torneo_genero_categorias[0].torneo.nombre }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genero</th>
                <th>Categoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for torneo_genero_categorium in torneo_genero_categorias %}
            <tr>
                <td>{{ torneo_genero_categorium.id }}</td>
                <td>{{ torneo_genero_categorium.genero.nombre }}</td>
                <td>{{ torneo_genero_categorium.categoria.nombre }}</td>
                <td>
                    <a href="{{ path('app_torneo_genero_categoria_show', {'id': torneo_genero_categorium.id}) }}">show</a>
                    <a href="{{ path('app_torneo_genero_categoria_edit', {'id': torneo_genero_categorium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_torneo_genero_categoria_new') }}">Create new</a>
{% endblock %}
