{% extends 'base.html.twig' %}
{% block body %}
<div class="container-lg">
    <h1 class="text-center" >{% block title %}Zona {{ zona.id }}{% endblock %}</h1>
    <table class="table table-responsive align-middle text-center">
        <thead>
            <tr>
                <th scope="col" ></th>
                <th scope="col"></th>
                <th scope="col" class="table-active"></th>
                <th scope="col" class="table-active">Partidos</th>
                <th scope="col" class="table-active"></th>
                <th scope="col"></th>
                <th scope="col">Set</th>
                <th scope="col"></th>
                <th scope="col" class="table-active"></th>
                <th scope="col" class="table-active">Puntos</th>
                <th scope="col" class="table-active"></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col">Posición</th>
                <th scope="col">Equipo</th>
                <th scope="col" class="table-active">Jugados</th>
                <th scope="col" class="table-active">Ganados</th>
                <th scope="col" class="table-active">Perdidos</th>
                <th scope="col">Favor</th>
                <th scope="col">Contra</th>
                <th scope="col">Diferencia</th>
                <th scope="col" class="table-active">Favor</th>
                <th scope="col" class="table-active">Contra</th>
                <th scope="col" class="table-active">Diferencia</th>
                <th scope="col">Puntos</th>
            </tr>
            
        </thead>
        <tbody>
        {% for i, posicion in posiciones %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ posicion.nombre }}</td>
                <td class="table-active">{{ posicion.partidosJugados }}</td>
                <td class="table-active">{{ posicion.partidosGanados }}</td>
                <td class="table-active">{{ posicion.partidosPerdidos }}</td>
                <td>{{ posicion.setsAFavor }}</td>
                <td>{{ posicion.setsEnContra }}</td>
                <td>{{ posicion.getDiferenciaSets }}</td>
                <td class="table-active">{{ posicion.puntosAFavor }}</td>
                <td class="table-active">{{ posicion.puntosEnContra }}</td>
                <td class="table-active">{{ posicion.getDiferenciaPuntos }}</td>
                <td>{{ posicion.puntos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     {% if app.user %}

    <a class="btn btn-primary" href="{{ path('app_zona_index') }}">Volver Zonas</a>

    <a class="btn btn-primary" href="{{ path('app_main') }}">Volver Inicio</a>

    <a class="btn btn-primary" href="{{ path('app_zona_edit', {'id': zona.id}) }}">Editar</a>

    {{ include('zona/_delete_form.html.twig') }}

    {% else %}

    <a class="btn btn-primary" href="{{ path('app_main') }}">Volver</a>

    {% endif %}
</div>
{% endblock %}
