{% extends 'base.html.twig' %}

{% block title %}Genero index{% endblock %}

{% block body %}
    <h1>Genero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genero in generos %}
            <tr>
                <td>{{ genero.id }}</td>
                <td>{{ genero.nombre }}</td>
                <td>
                    <a href="{{ path('app_genero_show', {'id': genero.id}) }}">show</a>
                    <a href="{{ path('app_genero_edit', {'id': genero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_genero_new') }}">Create new</a>
{% endblock %}
